$bgColor: rgba(0,0,0,0.3);
$fgColor: rgba(0,0,0,0.6);
$borderWidth: 4px;

.loader {
  position: relative;
  border-color: $bgColor;
  display: inline-block;
  vertical-align: middle;

  &,
  &__spinner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-width: $borderWidth;
    border-style: solid;
  }

  &__spinner {
    position: absolute;
    top: -$borderWidth;
    left: -$borderWidth;
    border-color: transparent;
    border-left-color: $fgColor;
    transform-origin: center;
    animation: spin 1s infinite both ease;
  }
}

@keyframes spin {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}